@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
.container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* banner section start */
.banner-intro {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-size: 59px;
  font-weight: 900;
}
.banner-text {
  display: block;
  text-align: center;
  justify-content: center;
  padding: 177px 345px;
}
.banner-intro,
.banner-title {
  margin-bottom: 16px;
}


